body{
	background: url(https://images2.minutemediacdn.com/image/upload/c_crop,h_1348,w_2400,x_0,y_28/f_auto,q_auto,w_1100/v1570101184/shape/mentalfloss/gettyimages-960885112.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Josefin Sans', sans-serif; 
	color: white;
}

html{
	height: 100%
}

.question{
	width: 100%;
	height: 200px;
	position: relative;
	display: block;
	margin: auto;
	padding-left: 100px;
	grid-template-columns: 50% 50%;
}

.question > button{
	display: inline-block;
	font-size: 2rem;
	margin-right: 35px;
	margin-top: 10px;
	display: inline-block;
	opacity: 0.75;
	transition: 1s;

}

.question > button:hover{
	transform: scale(1.2);
	transition: 1s;
}

.question > #q1:focus, #q1:active{
	background-color: #4CAF50;
	opacity: 1;
}
.question > #q2:focus, #q2:active{
 	background-color: #4CAF50;
	opacity: 1;
}
.question > #q3:focus, #q3:active{
	background-color: #4CAF50;
	opacity: 1;
}

.results{
	margin: auto;
	padding-left: 75px;
}

.results > button{
	font-size: 2rem;
	display: inline-block;
	margin: 25px;
	opacity: 0.9;
}